@charset "utf-8";

#container{
	position: relative;
	background: url(../img/news/bg2.png) left bottom no-repeat , url(../img/news/bg.jpg) right no-repeat;
	background-size: 450px , cover;
	min-height: 100vh;
}

#subMenu{
	position: absolute;
	left: 150px;
}
#subMenu li{
	list-style-type: none;	
	background-color: #fcfbf9;
	margin-bottom: 5px;
	border-radius: 5px;
	padding: 2px 10px;

	font-size: 18px;
	text-align: center;
	box-shadow: 2px 2px 5px #CCC;
}
#subMenu li:hover , #subMenu .thisPage{
	background-color: #ef9173;	
}
#subMenu li:hover a , #subMenu .thisPage a{
	color: #FFF;
}

#newsList{
	background-color: rgba(255,255,255,0.6);
	margin: 0 auto;
	width: 900px;
	padding: 50px 40px 0;
}

.news:first-child{
	border-top: 2px solid #999;
}
.news{
	border-bottom: 2px solid #999;
	padding: 30px;
}
.news .pic{
	float: left;
	width: 20%;
	font-size: 0;
}
.news .pic img{
	width: 100%;
}

.news .content{
	float: left;
	width: 76%;
	padding: 0 2%;
}
.news .content span{
	display: inline-block;
	background-color: #638c0b;
	padding: 5px 20px;
	color: #FFF;
	font-size: 18px;
}
.news .content .date{
	margin: 10px 0;
	color: #638c0b;
	font-size: 16px;
}
.news .content p{
	font-size: 18px;
}
.news .content p a{
	font-weight: bold;
}

#newsList .page{
	text-align: center;
}
#newsList .page span{
	display: inline-block;
	background-color: rgba(0,0,0,0.2);
	margin: 20px auto;
	padding: 5px 30px 8px;
}
#newsList .page a{
	display: inline-block;
	background-color: #4C4C4C;
	margin: 0 2px;
	width: 10px; height: 10px;
	border-radius: 10px;
	font-size: 0;
	vertical-align: middle;
}
#newsList .page a.active{
	background-color: #000;
	background-clip: content-box;
	width: 8px; height: 8px;
	border: 2px solid #000;
	padding: 3px;
}
#container > .EN{
	margin: 20px 0 80px;
	color: rgba(0,0,0,0.4);
	font-size: 10px;
	text-align: center;
}
#container > .EN span{
	display: block;
}



@media (max-width: 980px){

#subMenu{
	display: none;
}
#newsList{
	width: 90%;
	padding: 5% 5% 0;
}
.news .pic , .news .content{
	float: none;
	width: 90%;
	padding: 2% 5%;
}

}